node_modules/
.expo/
dist/
android/
ios/
google-services.json
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.DS_Store
